@use 'variables';

body {
    background: variables.$black0;
    color: variables.$white0;

    --main-max-width: 1300px;
}

.main-wrapper {
    display: grid;

    grid-template-areas: '. .  main  . .';
                         

    grid-template-columns: variables.$s0 1fr minmax(auto, var(--main-max-width)) 1fr variables.$s0;


    main {
        grid-area: main;
    }
}


.app {
    header {
        .title {
            display: flex;
            align-items: center;
            gap: variables.$s1;
                margin-left: variables.$s2;
                font-weight: 600;
                letter-spacing: -0.025em;
                color: variables.$cyan0;
                text-transform: uppercase;


                .logo {
                    aspect-ratio: 1;
                    height: 20px;
                    background: variables.$cyan2;
                    border-radius: variables.$s0;
                    border: variables.$px solid variables.$white2;
                    box-shadow: 0px 0px 3px 1px variables.$cyan0;
                }
            }

        background: variables.$gray3;
        border-bottom: variables.$s0 solid variables.$black3;
    }
}

main {

    display: grid;

    grid-template-areas: 'tabs . .'
                         'content content content';
    
    .dashboard-tabs {
        grid-area: tabs;
    }

    .dashboard-content {
        grid-area: content;
    }
}

main {

    .dashboard-tabs {

        @include variables.rounded;
        margin: variables.$m3;
        justify-self: start;
        display: flex;
        overflow: hidden;

        .tab {
            transition: color .2s;
            cursor: pointer;
            color: variables.$white2;
            background: variables.$black1;
            padding: variables.$s1;

            text-transform: uppercase;

            &:hover {
                color: variables.$white1;
            }

            &.active {
                color: variables.$white0;
                background: variables.$black05;
            }
        }
    }
}


main {
    button {

        &.primary {
            font-weight: 600;
            cursor: pointer;
            @include variables.rounded;
            border: none;
            background: variables.$cyan-2;
            color: variables.$black0;
            text-transform: uppercase;

            &:hover {
               background: variables.$cyan-3;
            }
        }
    }
}


main {
    .dc-dashboard {
        display: grid;

        grid-template-areas: 'info'
                             'list';

        gap: variables.$s3;

        .info-action {
            grid-area: info;
        }

        .matches-list {
            grid-area: list;
        }
    }


    .dc-dashboard {
        .info-action {
            padding-inline: variables.$s2;

            display: flex;
            flex-flow: column;
            justify-content: space-between;


            @include variables.respond-to("sm") {
                flex-flow: row;
            }

            p {
                color: variables.$cyan2;
            }

            .import-pgn-btn {
                align-self: end;
                padding: variables.$s1 variables.$s2;
            }
        }


        .matches-list {
            @include variables.rounded;
            color: variables.$cyan2;

            background: variables.$black1;
        }
    }
}