@use 'variables';

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: variables.$white1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: variables.$black1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: variables.$black2;
}

body {
    background: variables.$black0;
    color: variables.$white0;

    --main-max-width: 1300px;
}

a {
    color: variables.$cyan15;
    text-decoration: none;


    &:visited {
        color: variables.$cyan3;
    }
    &.out {
        font-weight: bold;
    }
}

.main-wrapper {
    display: grid;

    grid-template-areas: '. .  main  . .';
                         

    grid-template-columns: variables.$s0 1fr minmax(auto, var(--main-max-width)) 1fr variables.$s0;


    main {
        grid-area: main;
    }
}


.app {
    header {
        .title {
            display: flex;
            align-items: center;
            gap: variables.$s1;
                margin-left: variables.$s2;
                font-weight: 600;
                letter-spacing: -0.025em;
                color: variables.$cyan0;
                text-transform: uppercase;
                font-size: variables.$m25;
                line-height: variables.$m35;


                .logo {
                    aspect-ratio: 1;
                    height: 20px;
                    background: variables.$cyan2;
                    border-radius: variables.$s0;
                    border: variables.$px solid variables.$white2;

                    box-shadow: 0px 0px 3px 1px variables.$cyan0;
                    animation: logo-flow 3s infinite;
                }
            }

        background: variables.$gray3;
        border-bottom: variables.$px solid variables.$black1;
    }

    footer {
        display: flex;
        justify-content: center;
        gap: variables.$m0;
        padding: variables.$l0;
        background: variables.$black05;
        color: variables.$black4;
    }
}

main {
    button {

        &.primary {
            font-weight: 600;
            cursor: pointer;
            @include variables.rounded;
            border: none;
            background: variables.$cyan-2;
            color: variables.$black0;
            text-transform: uppercase;

            &:hover {
               background: variables.$cyan-3;
            }
        }


        &.secondary {
            cursor: pointer;
            border-radius: variables.$s1;
            border: variables.$px solid variables.$cyan-2;
            background: variables.$cyan4;
            color: variables.$cyan-2;
            font-size: variables.$m15;

            &:hover {
               background: variables.$cyan35;
               color: variables.$cyan-3;
            }
        }
    }
}

@keyframes logo-flow {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .82;
        transform: scale(1.1) rotate(6deg);
    }
}


main {
    dialog {

        @include variables.fixed-inset;
        width: auto;
        height: auto;
        background-color: variables.$backdrop-color;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);

        & .dialog-backdrop {
            @include variables.fixed-inset;
        }
    }
}

main {
    input[type='text'] {
        background: variables.$cyan5;
        border: none;
        padding: variables.$m0;
        border-radius: variables.$m0;

        color: variables.$white1;

        &::placeholder {
           color: variables.$cyan15;
        }

        &:invalid {
            border: variables.$px dashed variables.$red1;
        }
    }
}