@use '../variables';


.main-dashboard-tabs {

    display: grid;

    grid-template-areas: 'tabs . .'
                         'content content content';
    
    .dashboard-tabs {
        grid-area: tabs;
    }

    .dashboard-content {
        grid-area: content;
    }
}

.main-dashboard-tabs {

    .dashboard-tabs {

        @include variables.rounded;
        margin: variables.$m3;
        justify-self: start;
        display: flex;
        overflow: hidden;

        .tab {
            transition: color .2s;
            cursor: pointer;
            color: variables.$white2;
            background: variables.$black1;
            padding: variables.$s1;

            text-transform: uppercase;

            &:hover {
                color: variables.$white1;
            }

            &.active {
                color: variables.$white0;
                background: variables.$black05;
            }
        }
    }
}



.main-dashboard-tabs {
    .dc-dashboard {
        display: grid;

        grid-template-areas: 'info'
                             'breakdown'
                             'welcome'
                             'list';

        .info-action {
            grid-area: info;
        }

        .matches-list {
            grid-area: list;
        }

        .breakdown {
            grid-area: breakdown;
        }

        .welcome-fitness {
            grid-area: welcome;
        }
    }


    .dc-dashboard {
        .info-action {
            padding-inline: variables.$s2;

            display: flex;
            flex-flow: column;

            @include variables.respond-to("sm") {
                flex-flow: row;
                justify-content: space-between;
            }

            p {
                color: variables.$cyan2;
            }

            .import-pgn-btn {
                align-self: end;
                padding: variables.$s1 variables.$s2;
            }
        }

        .breakdown {
            background: variables.$black125;
            padding: variables.$s1;
            display: flex;
            flex-flow: column;


            @include variables.respond-to("sm") {
                flex-flow: row;
                justify-content: flex-end;
            }

            button.primary {
                border-radius: variables.$s0 0 0 variables.$s0;
                z-index: 1;
            }

            .needs-search {
                box-shadow: 0 0 2px 1px variables.$cyan-2;
                animation: needs-search 3s infinite;
            }

            input.search {
                width: clamp(150px, 100%, 800px);
                border-radius: 0 variables.$s0 variables.$s0 0;

            }
        }

        &>.needs-search {
           background: variables.$black05;
        }

        .matches-list {
            @include variables.rounded;
            color: variables.$cyan2;



            .match {
                cursor: pointer;

                padding: variables.$s1 variables.$s2;
                background: variables.$black075;


                &:not(last-child) {
                    border-bottom: variables.$px solid variables.$black2;
                }

                &:nth-child(even) {
                    background: variables.$black1;
                }

                &:hover {
                    background: variables.$black16;
                }

                transition: background .2s;
            }

            .match {
                display: flex;
                gap: variables.$m1;

                .board {
                    display: none;
                    aspect-ratio: 1;
                    border: variables.$px solid variables.$cyan-05;
                    border-radius: variables.$s1;
                    background: variables.$cyan25;
                    height: 14rem;


                    @include variables.respond-to("sm") {
                        display: flex;
                    }
                }

                .info {
                    flex: 1;
                }

                .info {
                    display: flex;
                    flex-flow: column;

                    align-items: start;

                    .situation {
                        .type {
                            .speed {
                                text-transform: capitalize;
                            }
                        }
                        .time {
                            font-size: variables.$s2;
                            color: variables.$cyan3;
                        }
                    }

                    .vs {
                        flex: 1;
                        align-self: center;

                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        justify-content: center;

                        .players {
                            font-size: variables.$m25;
                        }
                        .outcome {
                            font-size: variables.$m15;
                        }

                        .fitness-bar {
                            color: variables.$cyan-1;
                        }
                    }


                    .opening-and-controls {

                        align-self: stretch;
                        display: flex;
                        justify-content: space-between;

                        .opening {
                            font-size: variables.$s3;

                            .little-line {
                                display: flex;
                                gap: variables.$m1;
                                line-height: variables.$l0;

                                .list {
                                    display: flex;
                                    color: variables.$cyan1;
                                    gap: variables.$s1;

                                    .move {
                                    
                                            .index {
                                                color: variables.$cyan2;
                                            }
                                        }
                                }
                            }
                        }
                    }

                    .diverge {
                        display: flex;
                        white-space: nowrap;
                        gap: variables.$s0;
                        align-items: flex-end;

                        font-size: variables.$m15;

                        @include variables.respond-to("sm") {
                            font-size: variables.$m2;
                        }

                        .who, .nb-moves, .after-move, .move {
                            line-height: 1.2em;
                            color: variables.$cyan1;

                            font-size: variables.$m25;

                            @include variables.respond-to("sm") {
                                font-size: variables.$m3;
                            }
    
    
                        }
                    }
                }
            }
        }
    }


    .dc-dashboard {
        .welcome-fitness {
            border-radius: variables.$s0;
            border: variables.$px solid variables.$black2;
            background: variables.$black1;

            display: flex;
            flex-flow: column;

            .welcome-info {
                display: flex;
                justify-content: center;
                position: relative;

                .last-checked {
                    font-size: variables.$s3;
                    position: absolute;
                    right: 0;
                    padding: variables.$m0;
                    color: variables.$cyan2;
                    //cursor: pointer;

                    &.hover {
                        color: variables.$cyan0;
                    }
                }
            }

            .welcome {
                align-self: center;
                padding: variables.$s0;
                color: variables.$cyan1;
                font-size: variables.$m3;

                span {
                   color: variables.$cyan-2;
                }

                a {
                    color: variables.$cyan-2;
                }
            }

            .configure {
                display: flex;
                flex-flow: column;
                margin-left: variables.$m2;

                .button {
                    color: variables.$cyan1;
                    cursor: pointer;

                    &:hover {
                       color: variables.$cyan0;
                    }
                }

                .configure-parameters-form {

                    display: grid;

                    grid-template-columns: 1fr 1fr;
                    gap: variables.$l0;
                    row-gap: variables.$l0;

                    .title {
                        color: variables.$cyan2;
                        text-transform: capitalize;
                    }

                    .input-group2 {
                        display: flex;
                    }

                    .input-group {
                        display: flex;
                        flex-flow: column;

                        max-width: 40vw;

                        .labels {
                            display: flex;
                            flex-flow: column;

                            @include variables.respond-to('sm') {
                                flex-flow: row;
                                align-items: center;
                                gap: variables.$s1;
                            }

                        }

                        small {
                            font-size: variables.$s25;
                        }
                    }

                        .slider {
                            display: flex;
                            flex: 1;
                            align-items: center;

                            gap: variables.$m0;
                            padding-inline: variables.$s2;

                            input {
                                flex: 1;
                                cursor: pointer;
                            }

                            .value {
                                color: variables.$cyan0;
                            }
                        }


                }
            }

            .fitness.stats {

                .nb-played {
                    .times {
                        display: flex;
                        gap: variables.$s2;
                        
                        .time {

                            .sub {
                                color: variables.$cyan1;
                            }

                            .value {
                                &.zero {
                                    color: variables.$cyan-4;
                                }
                            }

                            display: flex;
                            align-items: center;
                            gap: variables.$s1;
                        }
                    }
                }

                .stat {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    .title {
                        font-size: variables.$m2;
                    }

                    .value {
                        font-size: variables.$l0;
                    }

                    .progress-bar {
                        height: variables.$l0;
                    }
                }
            }
        }
    }
}


.main-dashboard-tabs {
    .dc-repertoire {
        display: grid;

        grid-template-areas: 'library';

        .re-library {
            grid-area: library;
        }
    }


    .dc-repertoire {
        .re-library {
            @include variables.rounded;
            color: variables.$cyan2;
        }

        .re-library {
            display: flex;
            flex-flow: column;

            margin-bottom: variables.$s0;

            @include variables.respond-to("sm") {
                flex-flow: row;
            }

            .opening-list {
                flex: 3;
            }

            .opening-lines {
                flex: 5;
            }

            .opening-list {

                border-bottom: variables.$px solid variables.$black2;

                @include variables.respond-to("sm") {
                    border-right: variables.$px solid variables.$black2;
                }

                .header {
                    border-bottom: variables.$px solid variables.$black2;
                }

                .content {
                    overflow-y: auto;
                    height: 12em;


                    @include variables.respond-to("md") {
                        height: 15em;
                    }

                    @include variables.respond-to("lg") {
                        height: 20em;
                    }
                }
            }
        }

        .re-library {
            min-width: 0;
            .opening-lines {
                min-width: 0;
            }
        }




        .opening-list {


            .header {
                padding: variables.$s2;
                display: flex;
                justify-content: space-between;

                color: variables.$cyan-1;
                background: variables.$cyan5;
            }

            .content {
                .opening {
                    cursor: pointer;
                    padding: variables.$s2;

                    color: variables.$cyan05;

                    border-bottom: variables.$px solid variables.$cyan5;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.active {
                        background: variables.$cyan4;
                        color: variables.$cyan0;
                        color: variables.$cyan-05;
                    }

                    &:hover:not(.active) {
                        background: variables.$cyan5;
                        color: variables.$cyan-05;
                    }
                }
            }
        }

        .opening-lines {
            display: flex;
            flex-flow: column;
            justify-content: center;
            
            .no-content {
                padding: 1em;
                display: flex;
                flex-flow: column;
            
                justify-content: center;
                align-items: center;
            
                text-transform: uppercase;
                color: variables.$white0;
            
                p {
                    font-size: variables.$s3;
                    color: variables.$cyan1;
                    text-align: center;
                }
            
                .circle {
                    aspect-ratio: 1;
                    width: variables.$m3;
                    border-radius: 50%;
                    background: variables.$cyan-25;
                    opacity: .1;
                }
            }
            
            
            .opening-lines-view {
                flex: 1;
                display: flex;
                flex-flow: column;
                min-height: 30em;
            
                .header {
                    display: flex;
                    padding: variables.$s1 variables.$m1;

                    background: variables.$cyan5;
                    border-bottom: variables.$px solid variables.$black2;
                    color: variables.$cyan-1;

                    button {
                        flex-shrink: 0;
                    }

                    .title {
                        flex:1 ;

                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .footer {
                    display: flex;
                    justify-content: space-between;
                    border-top: variables.$px solid variables.$black2;
                    background: variables.$black075;

                    .delete {
                        margin: variables.$s1;

                        @include variables.rounded;
                        border: none;
                        background: variables.$red2;
                        color: variables.$white2;
                        cursor: pointer;

                        &:hover {
                           background: variables.$red1;
                        }
                    }
                }
            
                .body {
                    flex: 1;
                    display: flex;
                    flex-flow: column;
                }
            
                .body {
 
                    .no-lines {
                        flex: 1;
                        padding: 1em;
                        display: flex;
                        flex-flow: column;
                    
                        justify-content: center;
                        align-items: center;
                    
                        text-transform: uppercase;
                        color: variables.$white0;
                    
                        p {
                            font-size: variables.$s3;
                            color: variables.$cyan1;
                            text-align: center;
                        }
                    
                        .circle {
                            aspect-ratio: 1;
                            width: variables.$m3;
                            border-radius: 50%;
                            background: variables.$cyan-25;
                            opacity: .1;
                        }
                    }
            
                }
            }


            .opening-lines-view {

                .body {
                    display: flex;
                    flex-flow: column;

                    .lines {
                        flex: 1;
                        display: flex;
                        flex-flow: column;

                        @include variables.respond-to("sm") {
                            flex-flow: row;
                        }

                        background: variables.$black05;

                        .info {
                            flex: 4;
                        }

                        .list {
                            flex: 3;
                        }

                        .list {
                            display: flex;
                            flex-flow: column;
                            overflow-y: auto;
                            border-right: variables.$px solid variables.$black15;

                            .line {
                                cursor: pointer;

                                padding: variables.$s1;
                                    background: variables.$cyan46;
                                &:nth-child(even) {
                                    background: variables.$cyan475;
                                }

                                &:hover:not(.active) {
                                    color: variables.$cyan-1;
                                    background: variables.$cyan35;
                                }

                                &.active {
                                    color: variables.$black0;
                                    background: variables.$cyan-2;
                                }
                            }
                        }

                        .info {
                            display: flex;
                            flex-flow: column;

                            overflow-y: hidden;


                            .info-header {
                                padding: variables.$s0;
                                border-bottom: variables.$px solid variables.$cyan5;
                                background: variables.$black075;
                            }

                            .pgn {

                                display: flex;
                                flex-flow: column;
                                flex: 1 1 0;

                                .pgn-list {
                                    overflow-y: auto;
                                    flex: 2;
                                }

                                .stats {
                                    flex: 1;
                                }

                                .pgn-list {
                                    padding: variables.$s0;
                                
                                   .move {
                                       cursor: pointer;
                                       display: inline-block;
                                       padding: variables.$s0;
                                       color: variables.$cyan-2;
                                       gap: variables.$s0;
                                       line-height: variables.$m3;
                                
                                       .index {
                                        padding-inline-end: variables.$s0;
                                           font-weight: 700;
                                           color: variables.$cyan2;
                                       }
                                   }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-dashboard-tabs {
    .stats {

        display: flex;
        flex-flow: column;

        gap: variables.$s1;

        padding: variables.$s1;


        @include variables.respond-to("md") {
           flex-flow: row;
            align-items: flex-end;
        }

        .stat {
            flex: 1;
            padding: variables.$s2;
            border: variables.$px solid variables.$black3;
            border-radius: variables.$m1;

            background: variables.$cyan5;

            .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-transform: uppercase;
                font-size: variables.$s2;
                color: variables.$cyan2;
            }

            .value {
                color: variables.$white1;
                font-size: variables.$m25;
                font-weight: 600;
            }
        }
    }

    .progress-bar {
        background: variables.$black05;
        width: 100%;
        height: variables.$m1;
        border-radius: variables.$s3;
        align-self: flex-end;
        overflow: hidden;

        display: flex;

        .bar {
            height: 100%;
            background: variables.$cyan-5;
            transition: width .2s;


        }

        &.negative {
            justify-content: flex-end;
        }

        &.negative .bar {
            background: variables.$red1;
        }
    }
}


.main-dashboard-tabs {
    .create-new-opening-dialog-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;

        .panel {
            position: relative;
            display: flex;
            flex-flow: column;

            overflow: hidden;

            width: 100%;
            max-width: variables.$xl4;
            @include variables.rounded;
            background: variables.$black025;
            border-radius: variables.$m2;

            position: relative;
            .body {
                display: flex;
                flex-flow: column;

                gap: variables.$s3;

                padding: variables.$s3;
                margin-bottom: variables.$s1;
                .title {
                    color: variables.$cyan-1;
                }

                .list-name {
                    color: variables.$cyan1;
                }

                .input-group {
                    display: flex;
                    flex-flow: column;

                    gap: variables.$s1;

                    label {
                        color: variables.$cyan1;
                        font-size: variables.$m15;
                        text-transform: uppercase;
                        line-height: variables.$m2;
                    }

                    .error {
                        color: variables.$red1;
                        font-size: variables.$s3;
                    }
                }
            }

            .action {
                display: flex;
                flex-flow: column;
                gap: variables.$m1;
                background: variables.$cyan5;
                padding: variables.$s3;

                button {
                    border-radius: variables.$s1;
                    margin-inline: variables.$m1;
                }
            }
        }
    }
}


.main-dashboard-tabs {
    .login {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        @include variables.rounded;
        padding: variables.$m2;
        gap: variables.$s2;

        p {
            color: variables.$cyan1;
        }
    }
}

.main-dashboard-tabs {
    .no-content {
                padding: 1em;
                display: flex;
                flex-flow: column;
            
                justify-content: center;
                align-items: center;
            
                text-transform: uppercase;
                color: variables.$white0;
            
                p {
                    font-size: variables.$s3;
                    color: variables.$cyan1;
                    text-align: center;
                }
            
                .circle {
                    aspect-ratio: 1;
                    width: variables.$m3;
                    border-radius: 50%;
                    background: variables.$cyan-25;
                    opacity: .1;
                }
            }
            

}


.main-dashboard-tabs {

    /* The Panning Background */
        .background-container {
            position: relative;
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradientAnimation 10s ease infinite;
        }
    
        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
    
            50% {
                background-position: 100% 50%;
            }
    
            100% {
                background-position: 0% 50%;
            }
        }
    
        /* The Calculating Filter Overlay */
        .calculating-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            @include variables.rounded;
            text-align: center;
    
            /* The Magic Filter Effect */
            background: rgba(255, 255, 255, 0.1);
            -webkit-backdrop-filter: blur(1px) saturate(70%);
            backdrop-filter: blur(1px) saturate(70%);
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        }
}