@use '../variables';


main {

    display: grid;

    grid-template-areas: 'tabs . .'
                         'content content content';
    
    .dashboard-tabs {
        grid-area: tabs;
    }

    .dashboard-content {
        grid-area: content;
    }
}

main {

    .dashboard-tabs {

        @include variables.rounded;
        margin: variables.$m3;
        justify-self: start;
        display: flex;
        overflow: hidden;

        .tab {
            transition: color .2s;
            cursor: pointer;
            color: variables.$white2;
            background: variables.$black1;
            padding: variables.$s1;

            text-transform: uppercase;

            &:hover {
                color: variables.$white1;
            }

            &.active {
                color: variables.$white0;
                background: variables.$black05;
            }
        }
    }
}



main {
    .dc-dashboard {
        display: grid;

        grid-template-areas: 'info'
                             'list';

        gap: variables.$s3;

        .info-action {
            grid-area: info;
        }

        .matches-list {
            grid-area: list;
        }
    }


    .dc-dashboard {
        .info-action {
            padding-inline: variables.$s2;

            display: flex;
            flex-flow: column;
            justify-content: space-between;


            @include variables.respond-to("sm") {
                flex-flow: row;
            }

            p {
                color: variables.$cyan2;
            }

            .import-pgn-btn {
                align-self: end;
                padding: variables.$s1 variables.$s2;
            }
        }


        .matches-list {
            @include variables.rounded;
            color: variables.$cyan2;



            .match {
                cursor: pointer;

                padding: variables.$s1 variables.$s2;
                background: variables.$black075;


                &:not(last-child) {
                    border-bottom: variables.$px solid variables.$black2;
                }

                &:nth-child(even) {
                    background: variables.$black1;
                }

                &:hover {
                    background: variables.$black16;
                }

                transition: background .2s;
            }

            .match {
                display: flex;
                gap: variables.$m1;

                .board {
                    display: none;
                    aspect-ratio: 1;
                    border: variables.$px solid variables.$cyan-05;
                    border-radius: variables.$s1;
                    background: variables.$cyan25;
                    height: 14rem;


                    @include variables.respond-to("sm") {
                        display: flex;
                    }
                }

                .info {
                    flex: 1;
                }

                .info {
                    display: flex;
                    flex-flow: column;

                    align-items: start;

                    .situation {
                        .time {
                            font-size: variables.$s2;
                            color: variables.$cyan3;
                        }
                    }

                    .vs {
                        flex: 1;
                        align-self: center;

                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        justify-content: center;

                        .players {
                            font-size: variables.$m25;
                        }
                        .outcome {
                            font-size: variables.$m15;
                        }
                    }

                    .opening {
                        font-size: variables.$s3;
                    }

                    .diverge {
                        display: flex;
                        white-space: nowrap;
                        gap: variables.$s0;
                        align-items: flex-end;

                        font-size: variables.$m15;

                        @include variables.respond-to("sm") {
                            font-size: variables.$m2;
                        }

                        .nb-moves, .after-move, .move {
                            line-height: 1.2em;
                            color: variables.$cyan1;

                            font-size: variables.$m25;

                            @include variables.respond-to("sm") {
                                font-size: variables.$m3;
                            }
    
    
                        }
                    }
                }
            }
        }
    }
}


main {
    .dc-repertoire {
        display: grid;

        grid-template-areas: 'library';

        .re-library {
            grid-area: library;
        }
    }


    .dc-repertoire {
        .re-library {
            @include variables.rounded;
            color: variables.$cyan2;
        }

        .re-library {
            display: flex;
            flex-flow: column;

            @include variables.respond-to("sm") {
                flex-flow: row;
            }

            .opening-list {
                flex: 3;
            }

            .opening-lines {
                flex: 5;
            }

            .opening-list {

                border-bottom: variables.$px solid variables.$black2;

                @include variables.respond-to("sm") {
                    border-right: variables.$px solid variables.$black2;
                }

                .header {
                    border-bottom: variables.$px solid variables.$black2;
                }

                .content {
                    overflow-y: auto;
                    height: 12em;


                    @include variables.respond-to("md") {
                        height: 15em;
                    }

                    @include variables.respond-to("lg") {
                        height: 20em;
                    }
                }
            }
        }

        .re-library {
            min-width: 0;
            .opening-lines {
                min-width: 0;
            }
        }




        .opening-list {


            .header {
                padding: variables.$s2;
                display: flex;
                justify-content: space-between;

                color: variables.$cyan-1;
                background: variables.$cyan5;
            }

            .content {
                .opening {
                    cursor: pointer;
                    padding: variables.$s2;

                    color: variables.$cyan05;

                    border-bottom: variables.$px solid variables.$cyan5;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.active {
                        background: variables.$cyan4;
                        color: variables.$cyan0;
                        color: variables.$cyan-05;
                    }

                    &:hover:not(.active) {
                        background: variables.$cyan5;
                        color: variables.$cyan-05;
                    }
                }
            }
        }

        .opening-lines {
            display: flex;
            flex-flow: column;
            justify-content: center;
            
            .no-content {
                padding: 1em;
                display: flex;
                flex-flow: column;
            
                justify-content: center;
                align-items: center;
            
                text-transform: uppercase;
                color: variables.$white0;
            
                p {
                    font-size: variables.$s3;
                    color: variables.$cyan1;
                    text-align: center;
                }
            
                .circle {
                    aspect-ratio: 1;
                    width: variables.$m3;
                    border-radius: 50%;
                    background: variables.$cyan-25;
                    opacity: .1;
                }
            }
            
            
            .opening-lines-view {
                flex: 1;
                display: flex;
                flex-flow: column;
            
                .header {
                    display: flex;
                    padding: variables.$s1 variables.$m1;

                    background: variables.$cyan5;
                    border-bottom: variables.$px solid variables.$black2;
                    color: variables.$cyan-1;

                    button {
                        flex-shrink: 0;
                    }

                    .title {
                        flex:1 ;

                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .footer {
                    display: flex;
                    justify-content: space-between;
                    border-top: variables.$px solid variables.$black2;
                    background: variables.$black075;

                    .delete {
                        margin: variables.$s1;

                        @include variables.rounded;
                        border: none;
                        background: variables.$red2;
                        color: variables.$white2;
                        cursor: pointer;

                        &:hover {
                           background: variables.$red1;
                        }
                    }
                }
            
                .body {
                    flex: 1;
                    display: flex;
                    flex-flow: column;
                }
            
                .body {
 
                    .no-lines {
                        flex: 1;
                        padding: 1em;
                        display: flex;
                        flex-flow: column;
                    
                        justify-content: center;
                        align-items: center;
                    
                        text-transform: uppercase;
                        color: variables.$white0;
                    
                        p {
                            font-size: variables.$s3;
                            color: variables.$cyan1;
                            text-align: center;
                        }
                    
                        .circle {
                            aspect-ratio: 1;
                            width: variables.$m3;
                            border-radius: 50%;
                            background: variables.$cyan-25;
                            opacity: .1;
                        }
                    }
            
                }
            }


            .opening-lines-view {

                .body {
                    display: flex;
                    flex-flow: column;

                    .lines {
                        flex: 1;
                        display: flex;
                        flex-flow: column;

                        @include variables.respond-to("sm") {
                            flex-flow: row;
                        }

                        background: variables.$black05;

                        .info {
                            flex: 4;
                        }

                        .list {
                            flex: 3;

                            height: 20em;
                        }

                        .list {
                            display: flex;
                            flex-flow: column;
                            overflow-y: auto;
                            border-right: variables.$px solid variables.$black15;

                            .line {
                                cursor: pointer;

                                padding: variables.$s1;
                                    background: variables.$cyan46;
                                &:nth-child(even) {
                                    background: variables.$cyan475;
                                }

                                &:hover:not(.active) {
                                    color: variables.$cyan-1;
                                    background: variables.$cyan35;
                                }

                                &.active {
                                    color: variables.$black0;
                                    background: variables.$cyan-2;
                                }
                            }
                        }

                        .info {
                            overflow-y: hidden;
                            max-height: 20em;
                        }
                    }
                }
            }
        }
    }
}


main {
    .create-new-opening-dialog-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;

        .panel {
            position: relative;
            display: flex;
            flex-flow: column;

            overflow: hidden;

            width: 100%;
            max-width: variables.$xl4;
            @include variables.rounded;
            background: variables.$black025;
            border-radius: variables.$m2;

            position: relative;
            .body {
                display: flex;
                flex-flow: column;

                gap: variables.$s3;

                padding: variables.$s3;
                margin-bottom: variables.$s1;
                .title {
                    color: variables.$cyan-1;
                }

                .input-group {
                    display: flex;
                    flex-flow: column;

                    gap: variables.$s1;

                    label {
                        color: variables.$cyan1;
                        font-size: variables.$m15;
                        text-transform: uppercase;
                    }

                    .error {
                        color: variables.$red1;
                        font-size: variables.$s3;
                    }
                }
            }

            .action {
                display: flex;
                flex-flow: column;
                gap: variables.$m1;
                background: variables.$cyan5;
                padding: variables.$s3;

                button {
                    border-radius: variables.$s1;
                    margin-inline: variables.$m1;
                }
            }
        }
    }
}